* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

#header img {
    width: 50%;
}

header nav {
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    margin: .2rem;
    margin-right: .2rem;
    background-color: green;

}

header nav a {
    font-size: 1rem;
    margin: 0, 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    flex-direction: row;


}


header nav a:last-child {
    border-right: 1px;
    padding: 0;
}


header nav a:link {
    color: #980011;
    text-decoration: none;
}

/* visited link */
header nav a:visited {
    color: #212121;
    text-decoration: none;
}

/* mouse over link */
header nav a:hover {
    color: #212121;
    text-decoration: none;

}

/* selected link */
header nav a:active {
    color: #212121;
    text-decoration: none;
    color: #FD9128;

}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}


#forside {
    display: block;
    position: relative;

}

#forside .sectionwrapper {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-wrap: wrap;


}

#forside .toppic img {
    width: 95vw;
    height: 50vw;
    margin: 1.5vw;
    flex-grow: 1;
    flex-basis: 900px;
    background-color: green;
}


#forside .col1 {
    position: relative;
    width: 20;
}


#forside .col1 img {
    display: block;
    width: 20vw;
    height: 20vw;
}

#forside .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 255, 0.31);
}

#forside .col1:hover .overlay {
    opacity: 1;
}

#forside .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#forside .col2 {
    position: relative;
    width: 20;
}


#forside .col2 img {
    display: block;
    width: 20vw;
    height: 20vw;
}

#forside .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 255, 0.31);
}

#forside .col2:hover .overlay {
    opacity: 1;
}

#forside .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#forside .col3 {
    position: relative;
    width: 20;
}


#forside .col3 img {
    display: block;
    width: 20vw;
    height: 20vw;
}

#forside .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 255, 0.31);
}

#forside .col3:hover .overlay {
    opacity: 1;
}

#forside .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#forside .col4 {
    position: relative;
    width: 20;
}


#forside .col4 img {
    display: block;
    width: 20vw;
    height: 20vw;
}

#forside .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 255, 0.31);
}

#forside .col4:hover .overlay {
    opacity: 1;
}

#forside .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
