* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

header nav {
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem;
    margin-right: 2rem;

}

header nav a {
    font-size: 1rem;
    margin: 0, 1rem;
    padding: 0.1rem;
    text-decoration: none;
    flex-direction: row;


}


header nav a:last-child {
    border-right: none;
    padding: 0;
}


header nav a:link {
    color: #980011;
    text-decoration: none;
}

/* visited link */
header nav a:visited {
    color: #212121;
    text-decoration: none;
}

/* mouse over link */
header nav a:hover {
    color: #212121;
    text-decoration: none;

}

/* selected link */
header nav a:active {
    color: #212121;
    text-decoration: none;
    color: #FD9128;

}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

#forside img {
    width: 50%;
}

#forside {
    display: block;
}

#forside .sectionwrapper {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-wrap: wrap;



}

#forside .toppic {
    width: 20vw;
    height: 20vw;
    margin: 1.5vw;
    flex-grow: 1;
    flex-basis: 1200px;
    background-color: green;
}

#forside .col {
    width: 10vw;
    height: 10vw;
    margin: 1.5vw;
    flex-grow: 1;
    flex-basis: 200px;

    background-color: blue;
    /*    flex-direction: row;*/
    justify-content: space-between;



}

/*
.col2 {
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    flex-grow: 1;
    background-color: red;
    justify-content: space-around;
    flex-direction: row;

}

.col3 {
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    flex-grow: 1;
    background-color: pink;
    justify-content: space-around;
    flex-direction: row;

}

.col4 {
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    flex-grow: 1;
    background-color: lavender;
    justify-content: space-around;
    flex-direction: row;

}
*/
