* {
    box-sizing: border-box;
}

body {
    /*    margin: 5vw;*/
}

img {
    width: 100%;
}



header nav {
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    margin: .2rem;
    margin-right: .2rem;
    /*    background-color: rgba(128, 128, 128, 0.46);*/
    font-family: sans-serif;
    padding: 6px;


}

header nav a {
    font-size: 1rem;
    margin: 0, 0.5rem;
    padding: 1rem;
    text-decoration: none;
    flex-direction: row;

}


header nav a:last-child {
    border-right: 2px solid;

    margin: 2px;
    padding: 2px;
}


header nav a:link {
    color: #475F50;
    text-decoration: none;
}

/* visited link */
header nav a:visited {
    color: #212121;
    text-decoration: none;
}

/* mouse over link */
header nav a:hover {
    color: #7EA52C;
    text-decoration: none;

}

/* selected link */
header nav a:active {
    color: #212121;
    text-decoration: none;

}

.hidden {
    /*    display: none;*/
    transform: scale(0.5);
    transform: translateX(1%);
    opacity: 0;
}

#menuknap {
    display: inline-block;


}

#menu {
    list-style-type: none;
    transition: transform .5s;
    transform-origin: top right;

}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
        /*        position: sticky;*/
    }
}


#forside {
    display: block;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;

}

#forside .sectionwrapper {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-wrap: wrap;

}


#forside .toppic img {
    width: 100%;
    align-self: center;
    width: 97vw;
    position: relative;

}

a {
    text-decoration: none;
    color: white;
}


#forside .col1 {
    position: relative;
    width: 20;
    margin-top: 50px;
    flex-basis: 300px;
}


#forside .col1 img {
    display: block;
    width: 20vw;
    height: 20vw;

}

#forside .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 128, 0, 0.38);
}

#forside .col1:hover .overlay {
    opacity: 1;
}

#forside .text {
    color: grey;
    font-size: 20px;
    position: absolute;
    font-family: sans-serif;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#forside .col2 {
    position: relative;
    width: 20;
    margin-top: 50px;
    flex-basis: 300px;
}


#forside .col2 img {
    display: block;
    width: 20vw;
    height: 20vw;

}



#forside .col2:hover .overlay {
    opacity: 1;
}



#forside .col3 {
    position: relative;
    width: 20;
    margin-top: 50px;
    flex-basis: 300px;
}


#forside .col3 img {
    display: block;
    width: 20vw;
    height: 20vw;

}



#forside .col3:hover .overlay {
    opacity: 1;
}



#forside .col4 {
    position: relative;
    width: 20;
    margin-top: 50px;
    flex-basis: 300px;
}


#forside .col4 img {
    display: block;
    width: 20vw;
    height: 20vw;

}



#forside .col4:hover .overlay {
    opacity: 1;
}
